<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://darwinspl.de/evorepair/feature/expression/dsl"
			class = "de.evorepair.feature.expression.evo_expression_dsl.Evo_expression_dslPackage"
			genModel = "model/generated/ExpressionDsl.genmodel" />
	</extension>
</plugin>
