<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.evorepair.de/evolution/operation/EvoOperationDsl"
			class = "de.evorepair.operation.evoOperationDsl.EvoOperationDslPackage"
			genModel = "model/generated/EvoOperationDsl.genmodel" />
	</extension>
</plugin>
