<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.evorepair.de/feature/mapping/DwMappingDsl"
			class = "de.evorepair.feature.mapping.dwMappingDsl.DwMappingDslPackage"
			genModel = "model/generated/DwMappingDsl.genmodel" />
	</extension>
</plugin>
