/.EvoLogicLanguageIdeModule.java._trace
/.EvoLogicLanguageIdeModule.xtendbin
/.EvoLogicLanguageIdeSetup.java._trace
/.EvoLogicLanguageIdeSetup.xtendbin
/EvoLogicLanguageIdeModule.java
/EvoLogicLanguageIdeSetup.java
