<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EvoVariable -->
      <package
            uri="http://darwinspl.de/evorepair/variable/0.2"
            class="de.evorepair.evolution.evovariable.EvovariablePackage"
            genModel="model/EvoVariable.genmodel"/>
   </extension>

</plugin>
