/.EvoOperationDslRuntimeModule.java._trace
/.EvoOperationDslRuntimeModule.xtendbin
/.EvoOperationDslStandaloneSetup.java._trace
/.EvoOperationDslStandaloneSetup.xtendbin
/EvoOperationDslRuntimeModule.java
/EvoOperationDslStandaloneSetup.java
