/.EvoLogicLanguageRuntimeModule.java._trace
/.EvoLogicLanguageRuntimeModule.xtendbin
/.EvoLogicLanguageStandaloneSetup.java._trace
/.EvoLogicLanguageStandaloneSetup.xtendbin
/EvoLogicLanguageRuntimeModule.java
/EvoLogicLanguageStandaloneSetup.java
