/.EvoVariableDslDescriptionLabelProvider.java._trace
/.EvoVariableDslLabelProvider.java._trace
/.EvoVariableDslDescriptionLabelProvider.xtendbin
/.EvoVariableDslLabelProvider.xtendbin
/EvoVariableDslDescriptionLabelProvider.java
/EvoVariableDslLabelProvider.java
