/.EvoExpressionDslNewProjectWizardInitialContents.java._trace
/.ExpressionDslNewProjectWizardInitialContents.java._trace
/.EvoExpressionDslNewProjectWizardInitialContents.xtendbin
/EvoExpressionDslNewProjectWizardInitialContents.java
