/.EvoVariableDslRuntimeModule.java._trace
/.EvoVariableDslStandaloneSetup.java._trace
/.EvoVariableDslRuntimeModule.xtendbin
/.EvoVariableDslStandaloneSetup.xtendbin
/EvoVariableDslRuntimeModule.java
/EvoVariableDslStandaloneSetup.java
/.EvoIFragmentProvider.java._trace
