<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EvoFirstOrder -->
      <package
            uri="http://darwinspl.de/evorepair/logic/0.3"
            class="de.evorepair.logic.evofirstorderlogic.EvoFirstOrderLogicPackage"
            genModel="model/EvoLogic.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EvoLogic -->
      <package
            uri="http://darwinspl.de/evorepair/logic/0.4"
            class="de.evorepair.logic.evologic.EvoLogicPackage"
            genModel="model/EvoLogic.genmodel"/>
   </extension>

</plugin>
