<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated EvoOperation -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.evorepair.evolution.evooperation.presentation.EvoOperationModelWizardID"
            name="%_UI_EvoOperationModelWizard_label"
            class="de.evorepair.evolution.evooperation.presentation.EvoOperationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EvoOperationModelFile.gif">
         <description>%_UI_EvoOperationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated EvoOperation -->
      <editor
            id="de.evorepair.evolution.evooperation.presentation.EvoOperationEditorID"
            name="%_UI_EvoOperationEditor_label"
            icon="icons/full/obj16/EvoOperationModelFile.gif"
            extensions="evooperation"
            class="de.evorepair.evolution.evooperation.presentation.EvoOperationEditor"
            contributorClass="de.evorepair.evolution.evooperation.presentation.EvoOperationActionBarContributor">
      </editor>
   </extension>

</plugin>
