/.EvoOperationDslIdeModule.java._trace
/.EvoOperationDslIdeModule.xtendbin
/.EvoOperationDslIdeSetup.java._trace
/.EvoOperationDslIdeSetup.xtendbin
/EvoOperationDslIdeModule.java
/EvoOperationDslIdeSetup.java
