/.EvoVariableDslIdeModule.java._trace
/.EvoVariableDslIdeSetup.java._trace
/.EvoVariableDslIdeModule.xtendbin
/.EvoVariableDslIdeSetup.xtendbin
/EvoVariableDslIdeModule.java
/EvoVariableDslIdeSetup.java
