<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated EvoFirstOrder -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.evorepair.logic.evofirstorderlogic.presentation.EvoFirstOrderLogicModelWizardID"
            name="%_UI_EvoFirstOrderLogicModelWizard_label"
            class="de.evorepair.logic.evofirstorderlogic.presentation.EvoFirstOrderLogicModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EvoFirstOrderLogicModelFile.gif">
         <description>%_UI_EvoFirstOrderLogicModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated EvoFirstOrder -->
      <editor
            id="de.evorepair.logic.evofirstorderlogic.presentation.EvoFirstOrderLogicEditorID"
            name="%_UI_EvoFirstOrderLogicEditor_label"
            icon="icons/full/obj16/EvoFirstOrderLogicModelFile.gif"
            extensions="evofirstorderlogic"
            class="de.evorepair.logic.evofirstorderlogic.presentation.EvoFirstOrderLogicEditor"
            contributorClass="de.evorepair.logic.evofirstorderlogic.presentation.EvoFirstOrderLogicActionBarContributor">
      </editor>
   </extension>

</plugin>
