/.EvoLogicLanguageDescriptionLabelProvider.java._trace
/.EvoLogicLanguageDescriptionLabelProvider.xtendbin
/.EvoLogicLanguageLabelProvider.java._trace
/.EvoLogicLanguageLabelProvider.xtendbin
/EvoLogicLanguageDescriptionLabelProvider.java
/EvoLogicLanguageLabelProvider.java
